# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.Python
*.egg-info/

# Jupyter
*.ipynb_checkpoints

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Virtual environments
venv/
env/
.venv/

# Large downloaded datasets (nếu sau này em tải MIT-BIH)
data/mitdb/
data/mitdb_subset/
